node_modules
.DS_Store
dist
dist-ssr
dist.zip
dist.tar
dist.war
.nitro
.output
*-dist.zip
*-dist.tar
*-dist.war
coverage
*.local
**/.vitepress/cache
.cache
.turbo
.temp
dev-dist
.stylelintcache
yarn.lock
package-lock.json
.VSCodeCounter
**/backend-mock/data

# local env files
.env.local
.env.*.local
.eslintcache

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
vite.config.mts.*
vite.config.mjs.*
vite.config.js.*
vite.config.ts.*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history

# 自定义忽略
apps/avmc-admin-copy
apps/admin-antd-avmc/src/api/gen/index.avmc.admin.ts
apps/admin-antd-avmc/src/api/gen/index.avmc.admin.v1.ts
apps/admin-antd-avmc/src/api/gen/index.avmc.ts
apps/admin-antd-avmc/src/api/gen/index.buf.ts
apps/admin-antd-avmc/src/api/gen/index.buf.validate.ts
apps/admin-antd-avmc/src/api/gen/index.core.service.ts
apps/admin-antd-avmc/src/api/gen/index.core.service.v1.ts
apps/admin-antd-avmc/src/api/gen/index.core.ts
apps/admin-antd-avmc/src/api/gen/index.enum.ts
apps/admin-antd-avmc/src/api/gen/index.errors.ts
apps/admin-antd-avmc/src/api/gen/index.gnostic.openapi.ts
apps/admin-antd-avmc/src/api/gen/index.gnostic.openapi.v3.ts
apps/admin-antd-avmc/src/api/gen/index.gnostic.ts
apps/admin-antd-avmc/src/api/gen/index.google.api.ts
apps/admin-antd-avmc/src/api/gen/index.google.protobuf.ts
apps/admin-antd-avmc/src/api/gen/index.google.ts
apps/admin-antd-avmc/src/api/gen/index.pagination.ts
apps/admin-antd-avmc/src/api/gen/index.ts
apps/admin-antd-avmc/src/api/gen/index.validate.ts
apps/admin-antd-avmc/src/api/gen/avmc/admin/v1/error_reason.ts
apps/admin-antd-avmc/src/api/gen/avmc/admin/v1/i_auth.ts
apps/admin-antd-avmc/src/api/gen/avmc/admin/v1/i_dept.ts
apps/admin-antd-avmc/src/api/gen/avmc/admin/v1/i_menu.ts
apps/admin-antd-avmc/src/api/gen/avmc/admin/v1/i_post.ts
apps/admin-antd-avmc/src/api/gen/avmc/admin/v1/i_role.ts
apps/admin-antd-avmc/src/api/gen/avmc/admin/v1/i_user.ts
apps/admin-antd-avmc/src/api/gen/buf/validate/validate.ts
apps/admin-antd-avmc/src/api/gen/common/enum/enum.ts
apps/admin-antd-avmc/src/api/gen/common/pagination/pagination.ts
apps/admin-antd-avmc/src/api/gen/core/service/v1/auth.ts
apps/admin-antd-avmc/src/api/gen/core/service/v1/dept.ts
apps/admin-antd-avmc/src/api/gen/core/service/v1/menu.ts
apps/admin-antd-avmc/src/api/gen/core/service/v1/post.ts
apps/admin-antd-avmc/src/api/gen/core/service/v1/role.ts
apps/admin-antd-avmc/src/api/gen/core/service/v1/user.ts
apps/admin-antd-avmc/src/api/gen/errors/errors.ts
apps/admin-antd-avmc/src/api/gen/gnostic/openapi/v3/annotations.ts
apps/admin-antd-avmc/src/api/gen/gnostic/openapi/v3/openapiv3.ts
apps/admin-antd-avmc/src/api/gen/google/api/annotations.ts
apps/admin-antd-avmc/src/api/gen/google/api/http.ts
apps/admin-antd-avmc/src/api/gen/google/protobuf/any.ts
apps/admin-antd-avmc/src/api/gen/google/protobuf/descriptor.ts
apps/admin-antd-avmc/src/api/gen/google/protobuf/duration.ts
apps/admin-antd-avmc/src/api/gen/google/protobuf/empty.ts
apps/admin-antd-avmc/src/api/gen/google/protobuf/field_mask.ts
apps/admin-antd-avmc/src/api/gen/google/protobuf/timestamp.ts
apps/admin-antd-avmc/src/api/gen/validate/validate.ts
